[Desktop Entry]
Version=1.0
Name=Neovim
Comment=Edit text files
Exec=kitty -- nvim %f
Icon=neovim
Terminal=false
Type=Application
MimeType=text/x-shellscript;application/x-shellscript;
Categories=Utility;TextEditor;
