[Desktop Entry]
Name=osu!
Exec=/home/tutturuu/File/Software/Game/Osu/run-osu-static.sh
Icon=/home/tutturuu/File/Software/Game/Osu/lazer.png
Type=Application
Categories=Game;
StartupNotify=true
